#counter {
    position: relative;
    overflow: hidden;
    height: 600px;
}

#counter .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
    background-size: cover;
}

#counter .content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    border: 16px solid #333;
    margin-top: 110px;
    margin-left: 10%;
}

#counter .content:before {
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: 50%;
    width: 50px;
    height: 10px;
    background: #333;
    border-radius: 5px;
    transform: translateX(-50%);
}

#counter .content:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 50px;
    height: 10px;
    background: #333;
    border-radius: 5px;
    transform: translateX(-50%);
}
#counter h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    z-index: 11;
    position: relative;
    margin: auto;
    text-align: center;
    background: #dddddda3;
    padding: 13px;
}
#counter h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.counter-display {
    background: #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.counter {
    font-size: 3rem;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.description {
    font-size: 1rem;
    color: #333;
}

@media (max-width: 768px) {
    #counter .content {
        margin-top: 20px;
        max-width: min-content;
        font-size: medium;
        margin-left: 0;

    }
    #counter h3 {
        font-size: large;
    }
    #counter .description {
        font-size: small;
    }
    #counter .background-video {
        left: 20%;
    }
}
