/* counter.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.content, #contact {
    text-align: center;
    padding: 20px;
}

.hero-bg {
    background: url('./img/iStock-896068834.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 700px;
}

.hero-bg .container {
    background: rgba(128, 128, 128, 0.6);
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
}

#counter {
    position: relative;
    overflow: hidden;
    height: 600px;
}

#counter .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
    background-size: cover;
}

#counter .content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    border: 16px solid #333;
    margin-top: 110px;
    margin-left: 10%;
}

#counter .content:before {
    content: '';
    display: block;
    position: absolute;
    top: -30px;
    left: 50%;
    width: 50px;
    height: 10px;
    background: #333;
    border-radius: 5px;
    transform: translateX(-50%);
}

#counter .content:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 50px;
    height: 10px;
    background: #333;
    border-radius: 5px;
    transform: translateX(-50%);
}

#counter h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    z-index: 11;
    position: relative;
    margin: auto;
    text-align: center;
    background: rgba(128, 128, 128, 0.6);
    padding: 13px;
    color: #fff;
    height: 60px;
    width: 600px;
    border-radius: 5px;
}

#counter h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.counter-display {
    background: #333;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 200px; /* Fixed width to ensure consistency */
    margin: 0 auto; /* Center align */
    display: flex;
    justify-content: center;
    align-items: center;
}
.liters {
    color: #FFF;
    line-height: 0%;
    margin: 1px;
    font-size: 0.7rem;
    border: 0px;
    position: relative;
    bottom: -4px;    
}

.counter {
    font-size: 1.3rem;
    color: #fff;
    font-family: 'Orbitron', 'Courier New', Courier, monospace;
    letter-spacing: 0.1em; /* Ensure consistent spacing */
    text-align: left; /* Align the text to the left */
    display: flex;
    justify-content: center;
}

.description {
    background: #eee;
    font-size: 1rem;
    color: #333;
    margin: auto;
    width: 200px;
    text-align: left;
    padding: 5px;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

@media (max-width: 768px) {
    #counter .content {
        margin-top: 20px;
        max-width: min-content;
        font-size: medium;
        margin-left: 0;
    }
    #counter h3 {
        font-size: large;
    }
    #counter .description {
        font-size: small;
    }
    #counter .background-video {
        left: 20%;
    }
}