/* General Styles */
.content,
#contact {
    text-align: center;
    padding: 20px;
}
h2,h1,h3 {
    text-align: center;
    margin: auto;
}

.typewriter-container {
    font-size: 2.2rem;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: #333;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
    overflow: hidden;
}

.hero-bg .background-video {
    position: absolute;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-text {
    opacity: 0;
    animation: fadeIn 3s forwards;
}

.fade-in-text.reset-animation {
    animation: none;
}

.hero-bg {
    background-size: cover;
    color: white;
    height: 600px;
}

.hero-bg .container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 5px;
}

.logo {
    display: block;
    margin-top: -30px;
}

.logo a {
    margin: auto;
}

.navbar-nav {
    margin-top: 25px;
    font-size: 1.3rem;
}

.navbar-nav a {
    color: #000;
}

#cta-button {
    position: absolute;
    top: 500px;
    background: #19e8d9;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #888;
}
#roi-button {
    background: #19e8d9;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #888;
    margin: auto
}

/* Modal styles */
.video-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.video-modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    top: 50%;
    transform: translateY(-50%);
}

.video-modal-content video {
    width: 100%;
    height: auto;
}

.close-button {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#savings {
    background-size: cover;
    color: white;
    background: gray;
    max-width: 100%;
    padding: 20px;
}

#nudging video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
    background-size: cover;
}

#nudging .content {
    position: relative;
    z-index: 8;
    background: rgba(128, 128, 128, 0.6);
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
}

#nudging .overlay-video {
    position: absolute;
    bottom: 20px;
    left: 10%;
    height: 30px;
    z-index: 2;
}

#dashboard {
    background: url('./img/dashboard.png') no-repeat center center;
    background-size: cover;
    color: white;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboard .container {
    display: flex;
    height: 100%;
}

#dashboard h2 {
    text-align: right;
    margin-left: 90%; /* Adjust as needed */
    width: auto;
}

#watt {
    position: relative;
    overflow: hidden;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#watt .content {
    position: relative;
    z-index: 1;
    background: rgba(128, 128, 128, 0.6);
    padding: 20px;
    border-radius: 5px;
}

#hero {
    background: url('./img/iStock-1455431483-small.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .container {
    background: rgba(128, 128, 128, 0.6);
    padding: 20px;
    border-radius: 5px;
}

#pricing {
    color: black;
    padding: 20px;
}

#pricing ul {
    list-style-type: none;
    padding: 0;
}

#pricing .card {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.6);
}

/* iPad-liknande skärm med skuggning */
.content.tablet {
    background: #ffffff;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    position: relative;
}

#watt .content {
    margin-left: 10%;
}

#watt .tablet {
    margin-left: 30%;
}

#watt .text {
    margin-right: 20%;
}

@media (max-width: 1200px) {
    .hero-bg {
        height: 500px;
    }

    #cta-button {
        top: 450px;
    }
}

@media (max-width: 992px) {
    .hero-bg {
        height: 450px;
    }

    #cta-button {
        top: 400px;
    }

    .typewriter-container {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .hero-bg {
        height: auto;
        padding: 60px 0;
    }

    #watt, #hero {
        height: auto;
        padding: 60px 0;
    }

    #nudging {
        height: auto;
        padding: 0;
        flex-direction: column;
        height: 350px;
    }

    #nudging h2 {
        font-size: medium;
    }

    #nudging .content {
        max-width: 100%;
        top: -130px;
        height: 95px;
        font-size: small;
    }

    #cta-button {
        top: 340px;
    }

    #header {
        height: 450px;
    }

    .typewriter-container {
        font-size: 1.8rem;
    }
}

@media (max-width: 576px) {
    .hero-bg {
        height: auto;
        padding: 40px 0;
    }

    #cta-button {
        top: 300px;
    }

    .typewriter-container {
        font-size: 1.5rem;
    }

    .content,
    #contact {
        padding: 10px;
    }

    .video-modal-content {
        width: 90%;
    }
}