

.content,
#contact {
    text-align: center;
    padding: 20px;
}
.typewriter-container {
    font-size: 2.2rem;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: #333;
}
/* Bakgrundsvideo */
.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
    overflow: hidden;
}
/* Specifik stil för hero-bg */
.hero-bg .background-video {
    position: absolute;
}


@keyframes typing {
    from { width: 0; }
    to { width: 20ch; }
}

@keyframes blink {
    from { border-color: transparent; }
    to { border-color: black; }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Apply the fade-in animation to the text */
.fade-in-text {
    opacity: 0; /* Start with the text hidden */
    animation: fadeIn 3s forwards; /* 2s is the duration of the fade-in effect */
}
/* New class to reset the fade-in animation */
.fade-in-text.reset-animation {
    animation: none;
}

.hero-bg {
    background-size: cover;
    color: white;
    height: 600px;
}

.hero-bg .container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 5px;
}
.logo {
    display: block;
    margin-top: -30px;
}
.logo a {
    margin: auto;
}
.navbar-nav {
    margin-top: 25px;
    font-size: 1.3rem;
}
.navbar-nav a {
    color: #000;
}
#nudging {
    position: relative;
    overflow: hidden;
    height: 70vh; /* Adjust based on your design */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
#dashboard {
    background: url('./img/dashboard.png') no-repeat center center;
    background-size: cover;
    color: white;
    height: 900px;
}
#dashboard h2 {
    color: #000;
}
#cta-button {
    position: absolute;
    top: 500px;
    background: #19e8d9;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border-color: 1px solid #888;
}   
/* Modal styles */
.video-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black with opacity */
}
.video-modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    top: 50%;
    transform: translateY(-50%);
}
.video-modal-content video {
    width: 100%;
    height: auto;
}

.close-button {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}
.close-button:hover,
.close-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#savings {
    background-size: cover;
    color: white;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
}

#nudging video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
    background-size: cover;
}

#nudging .content {
    position: relative;
    z-index: 8;
    background: rgba(128, 128, 128, 0.6);
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
}

#nudging .overlay-video {
    position: absolute;
    bottom: 20px;
    left: 10%;
    height: 30px;
    z-index: 2;
}

#watt {
    position: relative;
    overflow: hidden;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#watt .content {
    position: relative;
    z-index: 1;
    background: rgba(128, 128, 128, 0.6);
    padding: 20px;
    border-radius: 5px;
}

#hero {
    background: url('./img/iStock-1455431483-small.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .container {
    background: rgba(128, 128, 128, 0.6);
    padding: 20px;
    border-radius: 5px;
}

#pricing {
    color: black;
    padding: 20px;
}

#pricing ul {
    list-style-type: none;
    padding: 0;
}

#pricing .card {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.6);
}
/* Lägg till dessa stilar i din CSS-fil */

/* iPad-liknande skärm med skuggning */
.content.tablet {
    background: #ffffff;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    position: relative;
    
}
#watt .content {
    margin-left: 10%;
}
#watt .tablet {
    margin-left: 30%;
}
#watt .text {
    margin-right: 20%;
}


@media (max-width: 768px) {
    .hero-bg {
        height: auto;
        padding: 60px 0;
    }
    #watt, #hero {
        height: auto;
        padding: 60px 0;
    }
    #nudging {
        height: auto;
        padding: 0;
        flex-direction: column;
        height: 350px;
    }
    #nudging h2 {
        font-size: medium;
    }
    #nudging .content {
        max-width: 100%;
        top: -130px;
        height: 95px;
        font-size: small;
    }
    #cta-button {
        top: 340px;

    }
    #header  {
        height: 450px;
    }
}